node_modules
app/client/vendor/bower_components
app/client/viz-interact
app/server/test-db
app/server/express/data/db
*.pyc
app/server/websocket-python/app_template/aflviz/*.pyc
app/server/websocket-python/app_template/ngviz-bokeh/*.pyc
app/server/websocket-python/app_template/*.pyc
app/server/websocket-python/router/*.pyc
app/server/websocket-python/*.pyc
app/server/websocket-python/app_template/stockchart
app/client/embed/stockchart
