body,
html {
    width: 100% !important;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.viz-desc{
  font-size: 24px;
  padding: 10px;
}


* {
  border-radius: 0 !important;
}

.viz-header{
  background-color: #00005e;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(img/banner-dataviz.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron {
    background-color: #00005e; /* dark blue */
    color: #ffffff;
    padding: 20px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    background: url(img/banner-dataviz.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    /*padding-top: 20%;
    padding-bottom: 20%;*/
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    /*color: #5e5e5e;*/
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.navbar {
    margin-bottom: 0;
    background-color: #777777;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00005e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* make sidebar nav pills height smaller.
use id to boost priority so no !important needed*/

#viz-sidebar .nav-pills {
    min-height: 20px;
}

#viz-sidebar .nav-pills li a{
    padding-top:0px;
    padding-bottom:4px;
    height: 20px;
}

#infobox {
  list-style: none;
  padding-left: 12px;
}

#infobox li {
    font-size: 11px;
    word-wrap: break-word;
}

.side-list {
  list-style: none;
  padding-left: 12px;
}

.side-list li {
    font-size: 11px;
    font-weight: bold;
    word-wrap: break-word;
}
.side-input {
  width: 80%;
}
.side-button {
  margin-left: 12px;
}

.info-bar {
  background-color: #eeeeee;
  border: 1px solid #A9A9A9;
  border-radius: 5px !important;
  display: block;
  padding: 5px;
  margin-top: 20px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

footer {
    background-color: #eeeeee; /* dark blue */
    /*color: #ffffff;*/
    padding: 10px;
    font-family: Montserrat, sans-serif;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #5e5e5e;
}
/* View: database list */
.database {
  list-style: none;
}

.database li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
}
