<a href="#!/database"><i class="glyphicon glyphicon-home"></i> Back to Dataviz List</a>
<div class="viz-header">
  <div class="intro-message">
  <h2> {{$ctrl.vizBook.dbname}} </h2>
  <h3> Data Visualization </h3>
</div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-repeat="view in $ctrl.vizBook.views" class={{view.name}} ng-click="$ctrl.applyNav(view)">
        <a href="" data-toggle="tooltip" title={{view.desc}}>{{view.name}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <!--Description of current Nav selected-->
  <p class='viz-desc'>View description Goes here</p>

  <div class="row">
    <div class="col-md-3" id="viz-sidebar">
      <!--Sidebar content-->
      <!-- <h5><i class="glyphicon glyphicon-home"></i>
            <small><b>WORKBOOK</b></small>
      </h5>
      <ul id='vizmenu' class='nav nav-pills nav-stacked'>
        <li ng-repeat="mg in $ctrl.management" ng-click="$ctrl.applyManagement(mg)">
          <a href="">{{mg}}</a>
        </li>
      </ul> -->
      <div class="info-bar"
      <h5><i class="glyphicon glyphicon-user"></i>
            <small><b>EXPORT</b></small>
      </h5>
      <ul id='utilmenu' class='nav nav-pills nav-stacked'>
        <li ng-repeat="exp in $ctrl.exportType" ng-click="$ctrl.applyUtil(exp)">
          <a href="">{{exp}}</a>
        </li>
      </ul>
      </div>

      <div class="info-bar"
      <h5><i class="glyphicon glyphicon-info-sign"></i>
            <small><b>FILTER</b></small>
      </h5>
      <ul class='side-list'>
        <li ng-repeat = "filter in $ctrl.filters">
          <a href="">{{filter.name}}</a>
          <br>
          <input type="text" id={{filter.id}} ng-change="$ctrl.change()" ng-model="filter.text" class="side-input">
        </li>
      </ul>
      <!-- <viz-interact></viz-interact> -->
      <button ng-show="$ctrl.hasFilter" class="side-button" ng-click="$ctrl.getFilters()">Get Current</button>
      <button ng-show="$ctrl.hasFilter" class="side-button" ng-click="$ctrl.setFilters()">Filter</button>
      </div>

      <div class="info-bar">
      <h5><i class="glyphicon glyphicon-info-sign"></i>
            <small><b>SELECT</b></small>
      </h5>
      <ul class='side-list'>
        <li ng-repeat = "sel in $ctrl.selections">
          <a href="">{{sel.name}}</a>
          <br>
          <input type="text" id={{sel.id}} ng-change="$ctrl.change()" ng-model="sel.text" class="side-input">
        </li>
      </ul>
      <button ng-show="$ctrl.hasSelection" class="side-button" ng-click="$ctrl.getSelections()">Get Current</button>
      <button ng-show="$ctrl.hasSelection" class="side-button" ng-click="$ctrl.setSelections()">Select</button>
      <!-- <viz-interact></viz-interact> -->
      </div>

      <div class="info-bar">
      <h5><i class="glyphicon glyphicon-info-sign"></i>
            <small><b>INFO</b></small>
      </h5>
      <ul id='infobox'>
        <li>None</li>
      </ul>
      </div>

    </div>

    <div class="col-md-9">
      <!--Body content-->
      <div id='viz'></div>
    </div>

  </div>
</div>
