<a href="#!/album"><i class="glyphicon glyphicon-home"></i> Back to Album List</a>
<div class="viz-header">
  <div class="intro-message">
  <h2> {{$ctrl.album.name}}</h2>
  <h3>Album View</h3>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-repeat="view in $ctrl.album.myalbums" class={{view.name}} ng-click="$ctrl.applyNav(view)">
        <a href="">{{view.name}}</a>
      </li>
    </ul>
  </div>
</nav>


<div class="album-images">
  <figure>
    <img ng-src="{{$ctrl.mainImage.src}}" class="album"/>
    <figcaption>{{$ctrl.mainImage.caption}}</figcaption>
    <p>By {{$ctrl.mainImage.author}}</p>
  </figure>
</div>

<h4>{{$ctrl.showalbum.desc}}</h4>

<ul class="album-thumbs">
  <li ng-repeat="img in $ctrl.showalbum.images">
    <img ng-src="{{img.src}}" ng-click="$ctrl.setImage(img)" />
  </li>
</ul>
