*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #fff;
  color: #33383D;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0.5rem 0 0.5rem 0;
  color: #333;
  text-align: center;
}

h3 {
  margin-top: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  text-align: center;
}

p {
  font-size: 0.9rem;
  margin: 0.5rem 0 1.5rem 0;
}

#content {
	margin: 0px auto;
	width: 800px;
	text-align: left;
}
#connection {
  background: #eee;
  margin: auto;
  padding: 20px;
}
#figcontrol {
    width: 800px;
    min-height: 60px;
    float: left;
    background: #aaa;
    margin: auto;
    padding: 20px;
}

#figs {
    width: 800px;
    min-height: 800px;
    float: left;
    background: #fff;
    margin: auto;
}

.fig {
	margin-top: 10px;
  padding: 0px;
}

/* Console */
.text_io {
    width: 600px;
    height: 80px;
    display: inline-block;
    background: #fff;
    /* border-radius: 15px; */
    overflow-y: scroll;
    overflow-x: scroll;
}

.msg {
    margin: 10px 0px;
    padding: 0.1rem 1em;
}

.msg i {
    border-bottom: 1px solid #eee;
}

.ctrl {
  padding-left: 0px;
  padding-top: 4px;
}
.date {
  padding: 0px;
  width: 150px;
  height: 30px;
}
.moretext {
  padding: 0px;
  width: 350px;
  height: 30px;
}
.cmd {
    display: inline-block;
    /*width: 200px;*/
    padding-top: 8px;
    padding-bottom: 4px;
    /*color: white;*/
    font-size: 16px;
    /*margin: 0 0.25rem;*/
    /*text-align: center;*/
}
