<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Album View</h1>
          <h3>Manage image collections</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myPage" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!--Sidebar content-->
      <div class="info-bar">
        <h5><i class="glyphicon glyphicon-info-sign"></i>
              <small><b>CLASS</b></small>
        </h5>
        <ul class="side-list">
          <li ng-repeat="year in $ctrl.classYear" ng-click="$ctrl.applyFilter(year)">
            <a href="">{{year}}</a>
          </li>
        </ul>
      </div>

      <div class="info-bar">
        <h5><i class="glyphicon glyphicon-info-sign"></i>
              <small><b>GALLERY</b></small>
        </h5>
        <ul class="side-list">
          <li ng-repeat="category in $ctrl.galleryCategory" ng-click="$ctrl.applyFilter(category)">
            <a href="">{{category}}</a>
          </li>
        </ul>
      </div>

      <div class="info-bar">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="class">Newest</option>
        </select>
      </p>
      </div>

      <!-- <div class="info-bar">
        <p>source on github: </p>
        <a href="https://github.com/jinghuage/albumVizApp">album viz app repo</a>
      </div> -->

    </div>
    <div class="col-md-9">
      <!--Body content-->

      <ul class="albums">
        <li ng-repeat="album in $ctrl.albums | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#!/album/{{album.id}}">{{album.name}}</a>
          <p>{{album.class}}</p>
          <p>{{album.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p class="copyright text-muted"> © Copyright Jinghua Ge. Last updated on <span id="time"></span> </p>
  <p class="text-muted"> Built with AngularJS, NodeJS, Bootstrap frameworks </p>
</footer>
<script>
var today = new Date();
document.getElementById('time').innerHTML=today.toDateString();
</script>
